<!-- <div class="todoContainer">
    <app-todo [todoData]="todoData1" (onClickIcon)="getTodoInfo($event)" (onClickIconX)="getTodoData($event)"></app-todo>
    <app-todo [todoData]="todoData2" (onClickIcon)="getTodoInfo($event)" (onClickIconX)="getTodoData($event)"></app-todo>
    <app-todo [todoData]="todoData3" (onClickIcon)="getTodoInfo($event)" (onClickIconX)="getTodoData($event)"></app-todo>
    <app-todo [todoData]="todoData4" (onClickIcon)="getTodoInfo($event)" (onClickIconX)="getTodoData($event)"></app-todo>
    <app-todo [todoData]="todoData5" (onClickIcon)="getTodoInfo($event)" (onClickIconX)="getTodoData($event)"></app-todo>
    <app-todo [todoData]="todoData1" (onClickIcon)="getTodoInfo($event)" (onClickIconX)="getTodoData($event)"></app-todo>
    <app-todo [todoData]="todoData2" (onClickIcon)="getTodoInfo($event)" (onClickIconX)="getTodoData($event)"></app-todo>
    <app-todo [todoData]="todoData3" (onClickIcon)="getTodoInfo($event)" (onClickIconX)="getTodoData($event)"></app-todo>
    <app-todo [todoData]="todoData4" (onClickIcon)="getTodoInfo($event)" (onClickIconX)="getTodoData($event)"></app-todo>
    <app-todo [todoData]="todoData5" (onClickIcon)="getTodoInfo($event)" (onClickIconX)="getTodoData($event)"></app-todo>
    <app-todo [todoData]="todoData6" (onClickIcon)="getTodoInfo($event)" (onClickIconX)="getTodoData($event)"></app-todo>
</div> -->
<div class="todoContainer">
    <!-- Manejo de ngFor sirve para recorrer elementos dentro de un arreglo-->
    <app-todo 
        *ngFor="let todo of todoData;
        let i = index;
        trackBy: trackbyFn;
        let f = first;
        let l = last;
        let odd = odd;
        let even = even;
        " 
        [todoData]="todo" 
        [first]="f"
        [last]="l"
        [odd]="odd"
        [even]="even"
        (onClickIcon)="getTodoInfo($event)" (onClickIconX)="getTodoData($event)">
    </app-todo>
</div>
<button (click)="ordenarData()">Ordenar</button>
